<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="../static/comparison_styles.css"/>
    <title>Weather Comparison</title>
</head>
<body style="background-color: lightblue">
    <h1>Temperature</h1>
    {{ temperature_plot | safe }}
    <h2>Humidity</h2>
    {{ humidity_plot | safe }}
    <form action="/" method="get">
        <label>
            <button onclick="goBack()" type="button">Back</button>
        </label>
        <script>
            function goBack() {
                window.location.href='{{ url_for('index') }}';
            }
        </script>
    </form>
</body>
</html>