<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <title>Weather-Comparison</title>
</head>
<body>
    <h1>Weather Comparison</h1>
    <form action="/fetch-weather" method="get">
        <p style="font-family: Arial,sans-serif">Compare in Graphs</p>

        <label><input type="text" name="city" placeholder="City" required></label>
        <label><input type="text" name="country" placeholder="Country" required></label>

        <label for="start_date"></label>
        <input
                type="datetime-local"
                name="start_date"
                id="start_date"
                placeholder="Start Date"
                value="{{ default_start_time }}"
                required
        >
        <label for="end_date"></label>
        <input
                type="datetime-local"
                name="end_date"
                id="end_date"
                placeholder="End Date"
                value="{{ default_end_time }}"
                required
        >

        <button type="submit" style="background: cornflowerblue">Compare</button>
    </form>

    <form action="/trigger" method="post">
        <p style="font-family: Arial,sans-serif">Updating Data</p>
        <label><input type="text" name="city" placeholder="City"></label>
        <label><input type="text" name="country" placeholder="Country"></label>
        <button type="submit" style="background: cornflowerblue">Update</button>
    </form>
</body>
</html>