<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather-Comparison</title>
</head>
<body>
    <h1>Weather Comparison</h1>
    <form action="/fetch-weather" method="get">
        <label>
            <input type="text" name="city" placeholder="City">
        </label>
        <label>
            <input type="text" name="country" placeholder="Country">
        </label>
        {#        <input type="text" name="end" placeholder="End Date">#}
        <button type="submit" style="background: cornflowerblue">Compare</button>
    </form>
</body>
</html>