@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 10000;
  font-family: "Quicksand", sans-serif;
  color: #111;
  background-color: rgb(84, 195, 243);
  align-items: center;
  text-align: center;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
